.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content h1{
  color: white;


}
.timeline {
margin-top: 50px;
  position: relative;
  width: 600px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 .1rem #fff,
    0 0 .1rem #fff,
    0 0 .1rem #c7d7dc,
    0 0 0.6rem #c7d7dc,
    0 0 1.8rem #c7d7dc,
    inset 0 0 1rem #c7d7dc; 
  background-image: url("https://img.freepik.com/free-vector/high-tech-background_23-2148458536.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.timeline span {
//   animation: pulsatee 1.5s infinite alternate;
}


.event {
  position: absolute;
  width: 80%;
  max-width: 400px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0.8;
  animation: moveUpDown 5s infinite;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px 10%;
}
.name{
    font-size: 20px;
}
.time {
  font-size: 16px;
  margin-top: 10px;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 768px) {
  .event {
    width: 90%;
    margin: 20px 5%;
  }
}

@keyframes pulsatee {
  100% {
    text-shadow: 0 0 4px #1a1a1a, 0 0 11px #1a1a1a, 0 0 19px #1a1a1a,
      0 0 30px #34495e, 0 0 70px #34495e, 0 0 80px #34495e, 0 0 90px #34495e,
      0 0 130px #34495e;
  }

  0% {
    text-shadow: 0 0 2px #1a1a1a, 0 0 4px #1a1a1a, 0 0 6px #1a1a1a,
      0 0 10px #34495e, 0 0 30px #34495e, 0 0 45px #34495e, 0 0 60px #34495e,
      0 0 70px #34495e;
  }
}

@media (max-width: 600px) {
    .timeline {
        width: 350px;
        height: 500px;
    }
  }